{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 110,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "requirePragma": false,
  "insertPragma": false,
  "arrowParens": "avoid"
}